.index{
    font-family: "Gowun Batang";
    background: rgb(253, 254, 246);
    margin: 0;
    background-color: #d09292;
    overflow:hidden;
}

.directory{
    display:flex;
    position:absolute;
    gap:300px;
    inset: 0;
    align-items: center;
    justify-content: center;
}




/* Popup container*/
.link-text {
    cursor: pointer;
}

/* The actual popup */
.link-text .puzzle{
        visibility: hidden;
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 95vh;
        margin: 0;
}

#puzzle1 {
    background-color: #c094cc;
}

#puzzle2{
    background-color: #a2d0c0;
}

#puzzle3{
    background-color: #c37892;
}


/* back button starts hidden and shows when directory popup activated(learnt this by refrencing original popup*/
.back-button .back-popup{
    visibility: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 12px;
    padding-left: 20px;

}



/* Toggle this class - hide and show the popup */
.link-text .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.back-button .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}










/* For small screen sizes */
@media (max-width: 1000px) {
    .directory{
        display:block;
        padding-bottom: 30px;
    }

}
